body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

h2 { margin-bottom: 20px; }

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background: #222;
    color: white;
}

.btn {
    background: green;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 6px;
}

.btn.blue { background: royalblue; }
.btn.gray { background: gray; }
form {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 6px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
